.deck-container {
    display: flex;
    flex-direction: row-reverse; /* Display cards from right to left */
    justify-content: flex-start; /* Align to the left horizontally */
    align-items: flex-start; /* Align to the top vertically */
    margin-left: 90%; /* Reduce margin-left to create space for cards */
    margin-top: 0%;
    width: 90px;
    position: relative;
}