.deck-container {
    display: flex;
    flex-direction: row-reverse; /* Display cards from right to left */
    justify-content: flex-start; /* Align to the left horizontally */
    align-items: flex-start; /* Align to the top vertically */
    right: 20vh; /* Reduce margin-left to create space for cards */
    top: 15vh;
    width: 90px;
    position: absolute;
}

.deck-container b {
    position: relative;
    left: -50%;
    top: 16.5vh;
    font-size: 20px;
}