.deck-container {
    display: flex;
    flex-direction: row;
    /* Display cards from left to right */
    justify-content: flex-start;
    /* Align to the left horizontally */
    align-items: flex-start;
    /* Align to the top vertically */
    margin-left: 90%;
    margin-top: 0%;
    width: 150px;
}