.field-container {
    display: flex;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0%;
}
.enemyField{
    top:25%;
}