.pop-up-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw; /* Adjust the width as needed */
    height: 35vh; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.4); /* Transparent black background */
    border-radius: 10px; /* Rounded corners, adjust as needed */
    z-index: 1000; /* Adjust the z-index to ensure it's on top of other elements */
    padding: 0px;

    display: flex;
    flex-direction: column;
}

.pop-up-container b {
    font-size: 30px;
    position: relative;
    display: inline-block;
    color : white;
    flex: 1;
    text-align: center;

    transform: translate(-30px, 0px);
}

.pop-up-controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pop-up-card-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.close-button {
    position: relative; /* Position the close button */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff; /* Text color for the X */
    z-index: 1001; /* Ensure it's on top of the pop-up */
    margin-right: 10px;
}
  
.close-button:hover {
    color: #ff0000; /* Change color on hover, if desired */
}